/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer
{
	background-color: #20232a;
}

.projectTitle
{
	color: #FFFFFF;
}

.pluginRowBlock .button
{
	border: 1.5px solid #5B1818;
	color: #FFFFFF;
}

.inner
{
	max-width: 700px;
}
